<header>
        <nav class="navbar navbar-default">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <img id="navbar-pricepls-logo" alt="Brand" src="http://res.cloudinary.com/pricepls/image/upload/c_limit,h_60,w_260/v1437138289/pricepls_logo_homepage_navbar.png">
                </a>
            </div>
            <ul class="nav navbar-nav">
                <li>
                    <a href="/vendor-join/" class="">Bussiness</a>
                </li>
                <li>
                    <a href="" class="">Contact Us</a>
                </li>
            </ul>
        </nav>
</header>

