<div class="outer" ng-controller="mainController as cntrl_main">

    <div ng-include src="'public/views/header.html'"></div>


    <div class="row main-row">

        <!--<div class="col-xs-12" id="welcome-message">-->



        <!--</div>-->
        <div class="col-xl-12" id="invite-box">

            <div class="invite-email col-xl-12 ">

                <form class="form-inline">

                    <div class="form-group col-xs-9">
                        <label class="sr-only" for="emailForUser">Email address for early access</label>
                        <input type="email" name="email" class="form-control input-lg" id="emailForUser" placeholder="Enter your email address" ng-model="cntrl_main.email">
                    </div>
                    <div class="col-xs-3">
                        <button type="button" id="splashSignUpButton" class="btn btn-default input-lg disabled" onclick="submitSignUp()">
                            INVITE ME
                        </button>
                    </div>
                    <div >{{cntrl_main.email}}</div>

                </form>

            </div>

        </div>

    </div>


    <!--<div ng-include src="'public/views/footer.html'"></div>-->

</div>




